#balken {
    padding: 50px 0px 50px 50px;
    background-color: #428a45;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 32px;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 50;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0px 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left : 10px
}
nav li span {
    padding-left: 5px;
    }

li a {
    padding: 5px;
    background-color: #fafafa;
    text-decoration: none;
}

.product-card {
    border: 1px solid black;
}

.add-to-cart-button{
    background-color: azure;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tfoot td {
    font-weight: bold;
  }
